// Created by jake on 4/24/15.

table.table.table-striped.table-hover
    tbody
        tr(class="#{result.totalClass}")
            td Total
            td= result.totalString
            td
                i(class="#{result.totalIcon}")

