doctype html
html
    head
        title US eBird-compare
        link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", rel="stylesheet")
        link(rel="stylesheet" href="/leaflet/leaflet.css")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet" href="/font-awesome/css/font-awesome.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
        script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
        script(src="/leaflet/leaflet-src.js")
    body
        div(align='center')
            - var n = 0
            while n < 7
                - n++
                img(src="images/Birds.gif", width="140px")
            hr
            h2 US eBird-compare
            hr
        div(align='center')
            b Compare two: 
            select(id="c", name="changeComparisonMode", onchange='changeComparisonMode(this)')
                option(value = 'R') States
                option(value = 'S') Spots
            br
            br

        #m2(align='center', style='disply: block')
            b Radius: 
            select(id="r", name="Radius", onchange='changeRadius(option:selected)')
                option(value = '10') 10 km
                option(value = '20') 20 km
                option(value = '30') 30 km
                option(value = '40') 40 km
                option(value = '50') 50 km
            br 
            br

        div(align='center')
            b Species Name:
            select(id="B", name="bird_Species", onchange='SetSpeciesForBothMaps(this)')
                option(value="") "Choose a species"
                each sp in species
                    option(value=sp.scientific_name) #{sp.common_name}
            br

        #m1(align='center')
            table
                tr
                    td
                        b Region 1: 
                        select(id="R1", name="Region1", onchange='Map1.changeView(this)')
                            option(value="") "Choose a state"
                            each state in states
                                option(value = state.abbreviation, data-lat = state.lat, data-lng = state.lng) #{state.name}
                        br

                    td
                        b Region 2: 
                        select(id="R2", name="Region2", onchange='Map2.changeView(this)')
                            option(value="") "Choose a state"
                            each state in states
                                option(value = state.abbreviation, data-lat = state.lat, data-lng = state.lng) #{state.name}
                        br 
        div(align='center')
            button#recent_nearby_observations Return recent nearby observations
            button#nearest_locations_of_species Return nearest locations with observations of a species
            button#recent_Observations_OfASpecies_InARegion Return Recent Observations Of A Species In A Region     
        br

        #alerts(align='center')

        div(align='center')
            table
                tr
                    td
                        #map1(style='height: 400px; width: 520px; border-style: solid')
                    td
                        #map2(style='height: 400px; width: 520px; border-style: solid')
                tr 
                    td#left
                    td#right
            br             

        #response

    script(src="js/Map.js")
    script(src="js/Comparison.js")
    script(src="js/main.js")
    script(src="js/jade.js")
    script(src="async/lib/async.js")
    script(src="lodash/lodash.min.js")