doctype html
html
    head
        title US eBird-compare
        link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", rel="stylesheet")
        //link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css')
        link(rel="stylesheet" href="/leaflet/leaflet.css")
        link(rel="stylesheet" href="/css/style.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
        script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
        script(src="/leaflet/leaflet-src.js")
        //script(src='http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js')
    body
        div(align='center')
            - var n = 0
            while n < 7
                - n++
                img(src="http://cdn.animals-pics.com/pictures/www.adflyer.co.uk/DynamicContent/Images/Birds.gif", width="150px")
            hr
            h1 US eBird-compare
            hr

        div(align='center')
            table
                tr
                    td
                        b Region 1
                        select(id="R1", name="Region1", onchange='Map1.changeView(this)')
                            each state in states
                                option(value = state.abbreviation, data-lat = state.lat, data-lng = state.lng) #{state.name}
                        br
                        br
                        #map1(style='height: 400px; width: 500px')

                    td
                        b Region 2
                        select(id="R2", name="Region2", onchange='Map2.changeView(this)')
                            each state in states
                                option(value = state.abbreviation, data-lat = state.lat, data-lng = state.lng) #{state.name}
                        br
                        br
                        #map2(style='height: 400px; width: 500px')

        div(align='center')
            b Species Name:
            select(id="B", name="bird_Species", onchange='AddBirdsToBothMaps()')
                each sp , i in species
                    option(value=i) #{sp.scientific_name}
            br
            br

        div(align='center')
            table
                tr
                    td
                        div.box
                            b Birds no =
                    td
                        div.box
                            b Birds no =

        button#recent_nearby_observations Return recent nearby observations
        button#nearest_locations_of_species Return nearest locations with observations of a species
        button#recent_Observations_OfASpecies_InARegion Return Recent Observations Of A Species In A Region

        #response

    script(src="js/main.js")
    script(src="js/jade.js")